#map {
  margin: auto 8rem 0 auto;
  height: 25rem;
  width: 25rem;
  border: #d77a11 10px solid;
  border-radius: 1rem;
}

.body {
  margin: 0 auto;
  background-image: linear-gradient(to right, #2fae24, #d77a11);
  background-image: linear-gradient(to right, #2fae24, #247f11, #d77a11);
}

.header {
  background-color: #d77a11;
  margin: 1rem 3rem;
  padding-left: 2rem;
  border-radius: 15rem;
}

.mainSection {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.main {
  margin-left: 5rem;
}

.main p {
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonSection button {
  background-color: #d77a11;
  width: 10rem;
  border-radius: 10%;
  margin-left: 10rem;
  font-size: larger;
}

.button:hover {
  background-color: #2fae24;
  transform: scale(1.2);
}

.footer {
  background-color: #d77a11;
  margin: 7rem 3rem;
  padding-left: 2rem;
  border-radius: 15rem;
}

#image {
  width: 40rem;
  margin-left: 5rem;
  border: #d77a11 10px solid;
  border-radius: 1rem;
}
