#map {
  margin: auto 0 0 auto;
  height: 25rem;
  width: 25rem;
}

.body {
  margin: 0 auto;
  background-image: linear-gradient(to right, #2fae24, #D77A11);
}

.header {
  background-color: #D77A11;
  margin: 1rem 3rem;
  padding-left: 2rem;
}

.main {
  margin-left: 5rem;
}
