.body {
  margin: 0 auto;
  background-image: linear-gradient(to right, #2fae24, #247f11, #D77A11);
}


.header {
  background-color: #D77A11;
  margin: 1rem 3rem;
  padding-left: 2rem;
}

.main {
  margin-left: 5rem;
}

.main p {
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.staptitels {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.stapList {
  width: 60rem;
  margin-right: 5rem;
  margin-bottom: 3rem;
}
